:root {
  /* Primary */
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);

  /* Neutral */
  --white-100: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--navy-950);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem;
}

.card {
  background-color: var(--blue-950);
  border-radius: 0.7rem;
  overflow: hidden;
  max-width: 21.6rem;
  width: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card__image {
  aspect-ratio: 654 / 480;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.card__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--purple-500);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.card__content {
  padding: 2.3em;
}

.card__title {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--white-100);
  font-family: "Inter", sans-serif;
  text-align: center;
}

.card__title--highlight {
  color: var(--purple-500);
}

.card__description {
  margin: 1rem 0;
  color: var(--white-75);
  text-align: center;
  line-height: 170%;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
}

.card__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.card__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__stat-value {
  color: var(--white-100);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1em;
}

.card__stat-label {
  color: var(--white-60);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (min-width: 620px) {
  .card {
    max-width: 76rem;

    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
  }

  .card__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 7rem 5rem 5rem;
  }
  .card__image {
    flex: 1 1 50%;
    position: relative;
    aspect-ratio: auto;
    overflow: hidden;
  }

  .card__image picture,
  .card__image .card__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .card__img {
    object-fit: cover;
    display: block;
  }

  .card__title {
    text-align: start;
    font-size: clamp(1.5rem, 2.5vw + 1rem, 2.5rem);
  }

  .card__description {
    text-align: start;
    padding-right: 2rem;
    line-height: 160%;
    font-size: 1rem;
  }
  .card__stats {
    flex-direction: row;
    gap: 4rem;
    margin-top: 5.3rem;
  }

  .card__stat {
    align-items: start;
  }
  .card__stat-value {
    font-size: 1.5rem;
  }
  .card__stat-label {
    padding-top: 0.2rem;
    font-size: 0.8rem;
  }
}
