:root {
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);
  --white-100: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
}
